<div class="main-div">
  <h1>Icons library</h1>

  <div style="display: flex; flex-wrap: wrap">
    @for (category of uniqueCategories; track $index) {
      <h2>{{ category }}</h2>
      <div>
        @for (icon of allIcons; track $index) {
          @if (icon.category === category) {
            <img
              [src]="'/assets/' + icon.path"
              [alt]="icon.name"
              class="icon-accent"
              width="20px"
            />
          }
        } @empty {
          <div>We don't have anything</div>
        }
      </div>
    }
  </div>
</div>
