<div class="main-div">
  <h1>Icons library</h1>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="searchFC" />
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <div style="display: flex; flex-wrap: wrap">
    @for (category of uniqueCategories; track $index) {
      <h2>{{ category }}</h2>
      <sit-icon-list [icons]="filteredIcons" [iconCategory]="category"></sit-icon-list>
    }
  </div>
</div>
