<div class="h-100 w-100 d-flex">
  <div class="frame-div w-100">
    <h1 class="main-h1 text-center">Icons library</h1>

    <div class="input-wrapper">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Icon search</mat-label>
        <input matInput placeholder="Try finding your desired icon with a keyword" [formControl]="searchFC" />
      </mat-form-field>
    </div>

    <div>
      @for (category of uniqueCategories; track $index) {
        <h2 [ngClass]="{ 'mt-2rem': $index !== 0 }">{{ category }}</h2>
        @if (!checkIfCategoryHasIcons(category)) {
          <div>Your search yielded no icons for this category!</div>
        } @else {
          <sit-icon-list [icons]="filteredIcons" [iconCategory]="category"></sit-icon-list>
        }
      }
    </div>
  </div>
</div>

<sit-icon-random [allIcons]="allIcons"></sit-icon-random>
