// source: http://colormind.io/bootstrap/
$background: #f6f6f7;
$accent: #609db1;
$text: #a3a5a4;

// https://blog.union.io/code/2017/08/10/img-svg-fill/
// https://codepen.io/sosuke/pen/Pjoqqp
$svg-icon-filter: invert(64%) sepia(9%) saturate(1660%) hue-rotate(149deg) brightness(89%) contrast(90%);
